<div class="spinner-content" *ngIf="spinner" >
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="commentform">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <form [formGroup]="AddCommentForm" class="mt-3">
        <mat-card>
            <div class="">
              <h1 class="text-center mt-2 title">
                Comment Form
              </h1>
              <div>
                <mat-form-field class="example-full-width fieldWrapper" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput class="matInput" formControlName="name" titleCase placeholder="Enter Your Full Name" (input)="inputData($event)"
                    required>
                </mat-form-field>
                <mat-error class="errormessage"
                  *ngIf="this.AddCommentForm.get('name').invalid&& this.AddCommentForm.get('name').touched">
                  **Only character are allowed
                </mat-error>
                <mat-error *ngIf="inputValueNo"  style="color: red;"> ** Name Already Added</mat-error>

                <div>
                </div>

                <div class="mt-3">

                  <mat-form-field class="example-full-width fieldWrapper" appearance="outline">
                    <mat-label>Comment</mat-label>
                    <textarea matInput class="matInput" formControlName="comment" titleCase placeholder="Enter Your Full Name"
                      required></textarea>
                  </mat-form-field>
                </div>

              </div>



              <div class="mt-3 text-center">
                <button class="btn btn-primary submit" [disabled]="AddCommentForm.invalid" (click)="onsubmit()">
                  Add
                </button>
              </div>

            </div>
        </mat-card>
      </form>
      </div>
      <div class="col-md-4 mt-3">
        <mat-card class="commentscard">
          <div class="d-flex align-items-center justify-content-between">
            <div style="color:#070757;font-weight:bold">
              {{commentlist.length}} Comments
            </div>
            <div>
              <button class="btn btn-primary sortbtn" (click)="onSort()">
                Sort By Name
              </button>

              <span class="clickable d-inline-flex"  *ngIf="sortedlist?.length>0"
                (click)="onClearAllFilter()">Clear All</span>
               </div>
            </div>

          <hr>
          <mat-card class="mt-3 " *ngFor="let item of commentlist;index as i">
            <div class="icon">
              <i class="fa fa-pencil" (click)="OnMatCardClickEvent(item);openEditDialog($event)" style="cursor:pointer"></i>
              <!-- <mat-icon class="mt-4" (click)="OnMatCardClickEvent(item);openEditDialog($event)" style="color:#007bff;cursor:pointer">edit</mat-icon> -->
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
                <img src="../../assets/images/images.jpg" alt="" class="w-100">

              </div>
              <div class="col-md-5">
                <p class="mb-0 mt-2" style="color:#070757;    font-size: 20px;
                font-weight: 600;width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;">
                  {{item?.name}}
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  {{item?.date }}
                </p>
              </div>
            </div>
            <div>
              <p class="commenttext">{{item?.comment}}</p>

            </div>
          </mat-card>
        </mat-card>
      </div>
    </div>



    <ng-template #editcomment>
      <div class="container">
        <div class="row popupheader rowmargin" mat-dialog-title>
          <div class="allHeader-color pl-2 title">

          </div>
        </div>
        <div (click)="cancelModel()" class="btn float-right mdlclose" mat-dialog-close>
          <mat-icon style="color: #00297b">close</mat-icon>
        </div>

        <form [formGroup]="EditCommentForm" class="mt-3">
          <div>
            <div class="mt-2">
              <div class=" text-center">
                <h1 class="mt-2 title">
                  Edit Comment
                </h1>
                </div>
                <div>

                  <mat-form-field class="example-full-width fieldWrapper w-100" appearance="outline" style="opacity:0.5">
                    <mat-label>Name </mat-label>
                    <input matInput class="matInput" formControlName="name" readonly [disabled]="true"  placeholder="Enter Your Full Name"
                      required>
                  </mat-form-field>
                  <mat-error class="errormessage"
                    *ngIf="this.EditCommentForm.get('name').invalid&& this.EditCommentForm.get('name').touched">
                    **Only character are allowed
                  </mat-error>
                  <div>
                  </div>



                  <mat-form-field class="example-full-width fieldWrapper w-100" appearance="outline">
                    <mat-label>Comment </mat-label>
                    <textarea matInput class="matInput" formControlName="comment" titleCase placeholder="Enter Your Full Name"
                      required></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
        </form>
        <div class="example-button-row  mt-2 d-flex justify-content-center">
          <button mat-button class="btn color submit" [disabled]="!EditCommentForm.valid" (click)="editCommentDetails()">Update</button>
        </div>
      </div>
    </ng-template>
  </div>

</div>

